.dropdown {
  width: 100%;
  max-height: 300px;
  overflow-y: auto;
  background-color: white;
  border: 1px solid #ccc;
  z-index: 1;
}

.dropdown-item {
  padding: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.dropdown-item img {
  margin-right: 10px;
}

.dropdown-item span {
  line-height: 1.2;
}

.dropdown-item:hover {
  background-color: #f1f1f1;
}

.container-create-tournament {
  max-width: 300px;
  margin: 0 auto;
}

.container-create-tournament label {
  display: block;
  margin-top: 10px;
  font-weight: 700;
}

.container-create-tournament input {
  width: 100%
}

.container-create-tournament button {
  display: block;
  margin-top: 10px;
  margin: 20px auto;
}

.warning-participants {
  font-size: 15px;
  font-style: italic;
}